/* Student ID: 18408339
* Name: Timon Min Leung
* Tutor's Name: Paul Davies
*/

body {
    margin:0;
    padding:0;
    font-family: Tahoma, Arial, sans-serif;
    font-size:100%;
    background-color: white;
    color: black;
}

.centre {
    width: 50%;
    margin: 0 auto;
}

form {
    margin:20px;
}

#roundNum {
    width:60px;
    padding:3px;
    font-size:1em;
}

input[type="submit"] {
    padding:3px;
    font-size:1em;
}

label {
    display:inline-block;
    width:150px;
}

select {
    padding:3px;
    font-size:1em;
}

.error_Messages {
    display:none;
    color: black;
    border:1px solid #7f0303;
    background-color: #FFB9BB;
    margin-left: 3px;
    padding:1px;
    border-radius:3px;
}

/* The following codes were inspired by 
The following code was inspired from https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar */
#nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: lightseagreen;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none; 
    padding: 14px 16px;
}

#nav li a:hover {
    background-color: #2BADD1;
    text-decoration: none;
    text-shadow: #FFFFFF 0 0 10px;
    color: white;
} /* End of code */

/* The following code were modified from 
 * https://www.w3schools.com/css/tryit.asp?filename=trycss_forms
 */
#submit-form {
    width: 20%;
    background-color: darkcyan;
    text-align: center;
    color: white;
    padding: 14px 10px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 120%;
}

input[type=submit] {
    width: 100%;
    background-color: darkcyan;
    text-align: center;
    color: white;
    padding: 14px 10px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 120%;
}

input[type=submit]:hover {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid #6495ED;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-top: 13px;
    margin-bottom: 13px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin-top: 13px;
    margin-bottom: 13px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} /* End of code */

#submit-form:hover {
    background-color: cornflowerblue;
}

#submit-form:disabled {
    background-color: lightgray;
    color: white;
}

.centreSubmit {
    text-align: center;
}

/* The following codes were modified from
https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar
*/
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #283e3e;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e7b7b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
} /* End of code */

.scoreV {
    text-align: left;
}

.roundHighLight {
    background-color: #1e7b7b;
    color: white;
    font-weight: normal;
    text-align: center;
    border-radius: 4px;
    font-size: 110%;
    padding: 12px 20px;
}

.nonHighLight {
    background-color: lightblue;
    color: darkslategrey;
    font-weight: normal;
    border-radius: 4px;
    text-align: center;
    font-size: 110%;
    padding: 12px 20px;
}

.venue {
    text-align: left;
}

/* The following codes were modified from
https://www.w3schools.com/css/tryit.asp?filename=trycss_table_hover 
*/
table {
    border-collapse: collapse;
    border-spacing: 10px;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{
    background-color:#f5f5f5
}   /* End of code */

.fullTime {
    color: burlywood;
}